<h1>Add Creatures to Encounter</h1>

<ul>
    <% @creaturetypes.each do |creature| %>
        <li>
        <%= button_to creature.name, action: "add_creature", params: {creaturetypeid: creature.id, id: @encounters.id} %>
        </li>
    <% end %>

</ul>

<%= link_to "New Creature Type", new_creaturetype_path %>