<h1>Encounter</h1>

<h2>Enemies</h2>

<ul>
    <% @encounters.enemy.creatures.each do |creature| %>
        <li>
        <%= creature.creaturetype.name %>
        </li>
    <% end %>

</ul>
<%= button_to "Add creature", action: "add_enemy", params: { id: @encounters.id } %>

<h2>Party</h2>

<ul>
    <% @encounters.party.players.each do |player| %>
        <li>
        <%= player.name %>
        </li>
    <% end %>

</ul>
<%= button_to "Add player", action: "add_party", params: { id: @encounters.id } %>