<h1><%= @creaturetype.name %></h1>

<ul>
    <li> <%= link_to "Edit", edit_creaturetype_path(@creaturetype) %> </li>
    <li> <%= link_to "Destroy", creaturetype_path(@creaturetype),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %> </li>
</ul>